.intestazione{
    background-color: deeppink;

    border-style: solid;
    border-width: 10px;
    border-color: crimson;
    border-radius: 30px;

    text-align: center;

    color: chartreuse;

    padding: 8px;
}

.link-navigazione{
    color: white;
    font-size: 30px;
    font-weight: bold;
}


.foglio{
    border-style: solid;
    border-color: red;
}

.contenuto{
    text-align: center;
}

.nome{
    color: tomato;
}